.dashcircle{
    position: absolute;
    border-radius: 50%;
    border: 10px dashed #C2FFD9;
    box-sizing: border-box;
    height: 50vh;
    width: 50vh;
    transform: translate(calc(50vw - 25vh), 25vh);


}