body{
	font:15px/1.5 Verdana ,sans-serif;
	padding: 10px;
	background-color:#f4f3f3;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
	background:#d72638;
	height:120px;
	width:100%;
	padding-top:30px;

}

.main-header{
			text-align:center;
			background-color: red;
			height:100px;
			width:100%;
			margin:0px;
		}
#apptitle{
	float:left;
	font-size:30px;
	color: #fff;
	margin: 10px;
}

header h2{
	text-align:center;
	color:#fff;

}

.ml-container {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn-info {background-color: #d72638; /* RED */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;} /* Red */
.btn-info:hover {background:#595656;}


.resultss{
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px; 
    width: 200px;
    height: 150px;
}

#predict_title{
	
	font-size:20px;
	text-align: center;
	color: #595656;
}

#test{
	
	font-size:20px;
	text-align: center;
	color: #595656;
}


