.hmback{
    background: #010048; 
    min-height: 100vh; 
    height: 100%; 
    
}

.ic1{
    width: min-content;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(calc(50vw - 7.5vh),calc(50vh - 25vh - 7.5vh) );
} 

.ic2{
    width: min-content;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(calc(50vw - 7.5vh),calc(50vh + 25vh - 7.5vh) );
} 
.ic3{
    width: min-content;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(calc(50vw - 25vh - 7.5vh),calc(50vh - 7.5vh) );
} 
.ic4{
    width: min-content;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(calc(50vw + 25vh - 7.5vh),calc(50vh - 7.5vh) );
} 
