.dashcircle{
    position: absolute;
    border-radius: 50%;
    width: 70vh;
    height: 70vh;
    border: 10px dashed #C2FFD9;
    box-sizing: border-box;
    position: relative;
    transform: translate(70vh, 15vh)

}