.recordbutton{
    display: flex;
  justify-content: center;
  margin-top: 3%;
}

.vcpp{
    display: flex;
  justify-content: center;
  font-size: 5vh;
}

.vcpinput{
    display: flex;
  justify-content: center;
}

.submitBtn {
    background-color: #ff4848; /* Green */
    border: none;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.submitBtn:hover{
    background-color: #FFB830;
}